[data-theme="claymorphism"] {
  --body-bg-hue: 267;
  --body-bg-saturation: 63%;
  --body-bg-lightness: 75%;
  --body-color-hue: 208;
  --body-color-saturation: 7%;
  --body-color-lightness: 46%;
  --base-bg-hue: 60;
  --base-bg-saturation: 75%;
  --base-bg-lightness: 75%;
  --accent-bg-hue: 265;
  --accent-bg-saturation: 59%;
  --accent-bg-lightness: 87%;
  --accent-bg-opacity: 1;
  --accent-color-hue: 208;
  --accent-color-saturation: 7%;
  --accent-color-lightness: 46%;
  --accent-color-opacity: 1;
  --button-bg-hue: 0;
  --button-bg-saturation: 0%;
  --button-bg-lightness: 97%;
  --button-bg-opacity: 1;

  /*--danger-color-hue: 265;
  --danger-color-saturation: 59%;
  --danger-color-lightness: 75%;
  --danger-color-opacity: 0.5;
  --muted-color-hue: 0;
  --muted-color-saturation: 0%;
  --muted-color-lightness: 89%;
  --muted-color-opacity: 1;*/

  --padding: 1.5rem;
  --margin: 1.5rem;

  --border-radius: 1.125rem;

  --base-bg: hsl(
    var(--base-bg-hue),
    var(--base-bg-saturation),
    var(--base-bg-lightness)
  );

  --button-bg: hsla(
    var(--button-bg-hue),
    var(--button-bg-saturation),
    var(--button-bg-lightness),
    var(--button-bg-opacity)
  );

  /* --danger-color: hsla(
    var(--danger-color-hue),
    var(--danger-color-saturation),
    var(--danger-color-lightness),
    var(--danger-color-opacity)
  );

  --muted-color: hsl(
    var(--body-color-hue),
    var(--body-color-saturation),
    calc(var(--body-color-lightness) - 10%)
  ); */

  .button {
    // box-shadow: var(--extruded-shadow);
  }

  .header {
    margin: var(--margin) calc(var(--margin) * 2) 0;
    padding: var(--padding);

    .buttons-group {
      gap: calc(var(--gap) * 1.5);
    }
  }

  .sidebar-container {
    & > .buttons-group {
      .button {
        gap: calc(var(--gap) * 1.5);
        // background-color: var(--upper-level-bg);
      }
    }

    .sidebar {
      gap: 0;
      padding-top: var(--padding);
      padding-bottom: var(--padding);
      background-color: var(--base-bg);
      border-radius: var(--border-radius);
      // box-shadow: var(--extruded-shadow);

      .sidebar-item {
        .sidebar-item-text {
          font-weight: bold;
        }

        &.active {
          background-color: var(--accent-bg);
          margin-left: var(--margin);
          margin-right: var(--margin);
          padding-top: calc(var(--padding) * 2 / 3);
          padding-bottom: calc(var(--padding) * 2 / 3);
          border-radius: var(--border-radius);
          // box-shadow: var(--intruded-shadow);

          .button {
            // background-color: var(--upper-level-bg);
          }
        }

        &:not(.active) {
          background-color: transparent;
        }
      }
    }
  }

  .card-list-container {
    & > .buttons-group {
      gap: calc(var(--gap) * 1.5);

      .button {
        // background-color: var(--upper-level-bg);
      }
    }

    .card-list {
      row-gap: calc(var(--gap) * 1.5);

      .card {
        border-radius: var(--border-radius);

        .item-property-value {
          font-weight: bold;
        }

        .card-header {
          margin: calc(var(--margin) * 2 / 3) calc(var(--margin) * 2 / 3) 0;
          padding-top: calc(var(--padding) * 2 / 3);
          padding-bottom: calc(var(--padding) * 2 / 3);
          background-color: var(--button-bg);
          border-radius: var(--border-radius);
        }

        .card-body {
          margin: calc(var(--margin) * 2 / 3);
          padding-top: calc(var(--padding) * 2 / 3);
          padding-bottom: calc(var(--padding) * 2 / 3);
        }

        &.active {
          background-color: var(--base-bg);
          // box-shadow: var(--intruded-shadow);

          .button {
            // background-color: var(--body-bg);
          }
        }

        &:not(.active) {
          // box-shadow: var(--extruded-shadow);
        }
      }
    }
  }
}
