// В этом файле желательно избегать глубокой вложенности, чтобы не присваивать свойствам высокий приоритет

:root {
  --body-bg-hue: 0;
  --body-bg-saturation: 0%;
  --body-bg-lightness: 70%;
  --body-color-hue: 0;
  --body-color-saturation: 0%;
  --body-color-lightness: 50%;
  --accent-bg-hue: var(--body-bg-hue);
  --accent-bg-saturation: var(--body-bg-saturation);
  --accent-bg-lightness: calc(var(--body-bg-lightness) - 20%);
  --accent-bg-opacity: 1;
  --accent-color-hue: 0;
  --accent-color-saturation: 0%;
  --accent-color-lightness: 100%;
  --accent-color-opacity: 1;

  --body-font-family: roboto;
  --body-font-size: 1rem;
  --body-font-weight: normal;
  --body-line-height: 1.5;

  --gap: 1rem;
  --padding: 1rem;
  --margin: 1rem;
  --button-height: 2.25rem;
  --button-padding-y: calc(
    (var(--button-height) - var(--body-font-size) * var(--body-line-height)) / 2
  );
  --sidebar-width: 25%;

  --body-bg: hsl(
    var(--body-bg-hue),
    var(--body-bg-saturation),
    var(--body-bg-lightness)
  );

  --body-color: hsl(
    var(--body-color-hue),
    var(--body-color-saturation),
    var(--body-color-lightness)
  );

  --base-bg: hsla(
    var(--body-bg-hue),
    var(--body-bg-saturation),
    calc(var(--body-bg-lightness) + 10%),
    1
  );

  --accent-bg: hsla(
    var(--accent-bg-hue),
    var(--accent-bg-saturation),
    var(--accent-bg-lightness),
    var(--accent-bg-opacity)
  );

  --accent-color: hsla(
    var(--accent-color-hue),
    var(--accent-color-saturation),
    var(--accent-color-lightness),
    var(--accent-color-opacity)
  );

  --button-bg: hsla(
    var(--body-bg-hue),
    var(--body-bg-saturation),
    calc(var(--body-bg-lightness) + 20%),
    1
  );

  --active-bg: hsla(
    var(--body-bg-hue),
    var(--body-bg-saturation),
    calc(var(--body-bg-lightness) - 10%),
    1
  );
}

* {
  box-sizing: border-box;
  transition: all 0.15s;
}

body {
  margin: 0;
  background-color: var(--body-bg);
  color: var(--body-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
}

.icon {
  font-family: material-icons;
  font-size: calc(var(--body-font-size) * 1.25);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--button-padding-y) calc(var(--button-padding-y) * 2);
  background-color: var(--button-bg);
  height: var(--button-height);
  cursor: pointer;
}

.buttons-group {
  display: flex;
  gap: var(--gap);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent-bg);
  color: var(--accent-color);
  padding: var(--padding);

  .buttons-group {
    margin-left: var(--margin);
  }
}

.header-text {
  font-size: calc(var(--body-font-size) * 1.5);
  font-weight: bold;
}

.main {
  width: 100%;
  display: flex;
}

.sidebar-container {
  min-width: var(--sidebar-width);
  padding: var(--margin);

  & > .buttons-group {
    justify-content: end;
    margin-bottom: var(--margin);
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.sidebar-item {
  background-color: var(--base-bg);
  padding: var(--padding);

  .buttons-group {
    float: right;
    margin-left: var(--margin);
  }

  .sidebar-item-text {
    margin-top: var(--button-padding-y);
  }

  .button {
    width: var(--button-height);
    padding-left: var(--button-padding-y);
    padding-right: var(--button-padding-y);
  }

  &:not(.active) {
    .buttons-group {
      display: none;
    }
  }
}

.card-list-container {
  padding: var(--margin);

  & > .buttons-group {
    margin-bottom: var(--margin);
  }
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap);
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--base-bg);

  &:not(.active) {
    .buttons-group {
      display: none;
    }
  }
}

.item-property-name {
  font-size: calc(var(--body-font-size) * 0.875);
  color: var(--muted-color);
}

.card-header {
  padding: var(--padding);

  .buttons-group {
    float: right;
    margin-left: var(--margin);
  }

  .button {
    width: var(--button-height);
    padding-left: var(--button-padding-y);
    padding-right: var(--button-padding-y);
  }
}

.card-body {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  padding: var(--padding);
}

.active {
  background-color: var(--active-bg);
}
