[data-theme="hi-tech"] {
  --bg-hue: 187;
  --bg-saturation: 78%;
  --bg-lightness: 86%;
  --color-hue: 208;
  --color-saturation: 7%;
  --color-lightness: 46%;
  --accent-bg-hue: 72;
  --accent-bg-saturation: 3%;
  --accent-bg-lightness: 35%;
  --accent-bg-opacity: 1;
  --accent-color-hue: 0;
  --accent-color-saturation: 0%;
  --accent-color-lightness: 100%;
  --accent-color-opacity: 1;
  --base-bg-hue: 0;
  --base-bg-saturation: 0%;
  --base-bg-lightness: 100%;
  --base-bg-opacity: 0.85;
  /*--danger-color-hue: 265;
  --danger-color-saturation: 59%;
  --danger-color-lightness: 75%;
  --danger-color-opacity: 0.5;*/
  --muted-color-hue: 207;
  --muted-color-saturation: 6%;
  --muted-color-lightness: 61%;
  --muted-color-opacity: 1;
  --button-background-color-hue: 72;
  --button-background-color-saturation: 4%;
  --button-background-color-lightness: 75%;
  --button-background-color-opacity: 1;
  --active-bg-hue: 186;
  --active-bg-saturation: 100%;
  --active-bg-lightness: 58%;
  --active-bg-opacity: 1;

  --border-radius: 0.375rem;
  --border-width: 0.0625rem;

  --shadow-offset: 0;
  --shadow-blur: 3rem;
  --shadow-spread: 0.25rem;
  --shadow-opacity: 0.75;

  --background-image-url: url("assets/images/backgrounds/hi-tech-back.jpg");

  --base-bg: hsla(
    var(--base-bg-hue),
    var(--base-bg-saturation),
    var(--base-bg-lightness),
    var(--base-bg-opacity)
  );

  --active-bg: hsla(
    var(--active-bg-hue),
    var(--active-bg-saturation),
    var(--active-bg-lightness),
    var(--active-bg-opacity)
  );

  /*--danger-color: hsla(
    var(--danger-color-hue),
    var(--danger-color-saturation),
    var(--danger-color-lightness),
    var(--danger-color-opacity)
  );*/

  --muted-color: hsl(
    var(--muted-color-hue),
    var(--muted-color-saturation),
    var(--muted-color-lightness),
    var(--muted-color-opacity)
  );

  --button-background-color: hsl(
    var(--button-background-color-hue),
    var(--button-background-color-saturation),
    var(--button-background-color-lightness),
    var(--button-background-color-opacity)
  );

  --shadow: var(--shadow-offset) var(--shadow-offset) var(--shadow-blur)
    var(--shadow-spread)
    hsla(
      var(--color-hue),
      var(--color-saturation),
      var(--color-lightness),
      calc(var(--shadow-opacity) * 2 / 3)
    );

  --shadow-active: var(--shadow-offset) var(--shadow-offset)
    calc(var(--shadow-blur) * 10 / 48) calc(var(--shadow-spread) * 0.5)
    hsla(
      var(--active-bg-hue),
      var(--active-bg-saturation),
      var(--active-bg-lightness),
      calc(var(--shadow-opacity) * 2 / 3)
    );

  .button {
    --button-border-width: 0rem;
  }

  .header {
    .button {
      background-color: var(--active-bg);
      color: var(--color);
    }
  }

  .sidebar-container {
    & > .buttons-group {
      .button {
        color: var(--accent-color);
      }
    }

    .sidebar {
      gap: 0;

      .sidebar-item {
        padding: calc(var(--padding) * 0.5 - var(--border-width))
          calc(var(--padding) * 0.5 - var(--border-width))
          calc(var(--padding) * 0.5 - var(--border-width))
          calc(var(--padding) - var(--border-width));
        border: var(--border-width) solid transparent;
        border-radius: var(--border-radius);
        min-height: calc(
          var(--font-size) * var(--line-height) + var(--button-padding-y) * 2 +
            var(--padding) * 1 / 2 * 2
        );

        .buttons-group {
          gap: calc(var(--gap) * 0.5);
        }

        .sidebar-item-text {
          font-weight: bold;
        }

        &.active {
          background-color: var(--active-bg);
          border: var(--border-width) solid var(--accent-color);
          box-shadow: var(--shadow-active);

          .button {
            background-color: var(--accent-color);
            border-radius: calc(var(--border-radius) * 2 / 3);
          }
        }

        &:not(.active) {
          background-color: transparent;
        }
      }
    }
  }

  .card-list-container {
    & > .buttons-group {
      .button {
        color: var(--accent-color);
      }
    }

    .card-list {
      .card {
        border-radius: var(--border-radius);

        .card-header {
          padding-bottom: calc(var(--padding) * 0.75 + var(--border-width));
          border-top-left-radius: var(--border-radius);
          border-top-right-radius: var(--border-radius);

          .item-property-value {
            font-weight: bold;
          }
        }

        .card-body {
          row-gap: calc(var(--gap) * 0.75);
          padding-top: calc(var(--padding) * 0.75);
        }

        &.active {
          background-color: var(--accent-color);
          box-shadow: var(--shadow);
          z-index: 0;

          .card-header {
            background-color: var(--active-bg);
          }

          .button {
            background-color: var(--accent-color);
            border-radius: calc(var(--border-radius) * 2 / 3);
          }
        }

        &:not(.active) {
          .card-header {
            position: relative;

            ::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: var(--padding);
              right: var(--padding);
              height: var(--border-width);
              background-color: var(--color);
            }
          }
        }
      }
    }
  }
}
