[data-theme="neumorphism"] {
  --body-bg-hue: 220;
  --body-bg-saturation: 30%;
  --body-bg-lightness: 90%;
  --body-color-hue: calc(var(--body-bg-hue) - 10);
  --body-color-saturation: calc(var(--body-bg-saturation) - 20%);
  --body-color-lightness: calc(var(--body-bg-lightness) - 45%);

  --level-lightness-offset: 3%;
  --accent-bg-hue: calc(var(--body-bg-hue) + 20);
  --accent-bg-saturation: calc(var(--body-bg-saturation) + 20%);
  --accent-bg-lightness: calc(var(--body-bg-lightness) - 20%);
  --accent-bg-lightness: calc(
    var(--body-bg-lightness) - var(--level-lightness-offset) * 7
  );
  --accent-bg-opacity: 1;

  --padding: 1.5rem;
  --margin: 1.5rem;
  --border-radius: 1.125rem;

  --shadow-offset: 0.25rem;
  --shadow-offset-xxl: calc(var(--shadow-offset) * 1.5);
  --shadow-offset-xxs: calc(var(--shadow-offset) * 0.125);
  --shadow-blur: 0.25rem;
  --shadow-blur-xxl: calc(var(--shadow-blur) * 1.5);
  --shadow-spread: 0.25rem;
  --shadow-spread-xxs: calc(var(--shadow-spread) * 0.125);
  --shadow-opacity: calc(45% - var(--body-bg-lightness) * 0.4);
  --shadow-opacity-sm: calc(var(--shadow-opacity) * 0.75);
  --shadow-opacity-xs: calc(var(--shadow-opacity) * 0.25); // 0.25 или 0.5
  --shadow-opacity-xxl: calc(var(--shadow-opacity) * 2);
  --shadow-opacity-lg: calc(var(--shadow-opacity) * 1.25);
  --light-opacity: calc(5% + var(--body-bg-lightness) * 0.4);
  --light-opacity-xs: calc(var(--light-opacity) * 0.5); // 0.25 или 0.5

  --accent-color: var(--upper-level-bg);

  --active-bg: hsl(
    var(--body-bg-hue),
    var(--body-bg-saturation),
    calc(var(--body-bg-lightness) - var(--level-lightness-offset))
  );

  --upper-level-bg: hsl(
    var(--body-bg-hue),
    var(--body-bg-saturation),
    calc(var(--body-bg-lightness) + var(--level-lightness-offset))
  );

  --lower-level-bg: hsl(
    var(--body-bg-hue),
    var(--body-bg-saturation),
    calc(var(--body-bg-lightness) - var(--level-lightness-offset))
  );

  --muted-color: hsl(
    var(--body-color-hue),
    var(--body-color-saturation),
    calc(var(--body-color-lightness) + 15%)
  );

  --outer-shadow: var(--shadow-offset) var(--shadow-offset) var(--shadow-blur) 0
    hsla(0, 0%, 0%, var(--shadow-opacity));
  --outer-shadow-lg: var(--shadow-offset-xxl) var(--shadow-offset-xxl)
    var(--shadow-blur-xxl) var(--shadow-spread)
    hsla(0, 0%, 0%, var(--shadow-opacity-xs));
  --outer-shadow-xxs: var(--shadow-offset-xxs) var(--shadow-offset-xxs) 0
    var(--shadow-spread-xxs) hsla(0, 0%, 0%, var(--shadow-opacity));
  --inner-shadow: inset var(--outer-shadow);
  --inner-shadow-lg: inset var(--outer-shadow-lg);
  --inner-shadow-xxs: inset var(--outer-shadow-xxs);

  --outer-light: calc(-1 * var(--shadow-offset)) calc(-1 * var(--shadow-offset))
    var(--shadow-blur) 0 hsla(0, 0%, 100%, var(--light-opacity));
  --outer-light-lg: calc(-1 * var(--shadow-offset-xxl))
    calc(-1 * var(--shadow-offset-xxl)) var(--shadow-blur-xxl)
    var(--shadow-spread) hsla(0, 0%, 100%, var(--light-opacity-xs));
  --outer-light-xxs: calc(-1 * var(--shadow-offset-xxs))
    calc(-1 * var(--shadow-offset-xxs)) 0 var(--shadow-spread-xxs)
    hsla(0, 0%, 100%, var(--light-opacity));
  --inner-light: inset var(--outer-light);
  --inner-light-lg: inset var(--outer-light-lg);
  --inner-light-xxs: inset var(--outer-light-xxs);

  --extruded-shadow: var(--outer-light-xxs), var(--outer-light),
    var(--outer-light-lg), var(--outer-shadow-xxs), var(--outer-shadow),
    var(--outer-shadow-lg);
  --intruded-shadow: var(--inner-shadow-xxs), var(--inner-shadow),
    var(--inner-shadow-lg), var(--inner-light-xxs), var(--inner-light),
    var(--inner-light-lg);
  --extruded-shadow: var(--outer-light-xxs), var(--outer-light),
    var(--outer-light-lg), var(--outer-shadow-xxs), var(--outer-shadow),
    var(--outer-shadow-lg);
  --intruded-shadow: var(--inner-shadow-xxs), var(--inner-shadow),
    var(--inner-shadow-lg), var(--inner-light-xxs), var(--inner-light),
    var(--inner-light-lg);

  &[data-mode="dark"] {
    --body-color-lightness: calc(var(--body-bg-lightness) + 45%);
    --muted-color: hsl(
      var(--body-color-hue),
      var(--body-color-saturation),
      calc(var(--body-color-lightness) - 15%)
    );
    --accent-bg-lightness: calc(var(--body-bg-lightness) + 20%);
    --accent-bg-lightness: calc(var(--body-color-lightness));
  }

  .button {
    box-shadow: var(--extruded-shadow);
  }

  .header {
    .buttons-group {
      gap: calc(var(--gap) * 1.5);
    }

    .button {
      color: var(--body-color);
      background-color: var(--upper-level-bg);
    }
  }

  .sidebar-container {
    & > .buttons-group {
      gap: calc(var(--gap) * 1.5);

      .button {
        background-color: var(--upper-level-bg);
      }
    }

    .sidebar {
      gap: 0;
      padding-top: var(--padding);
      padding-bottom: var(--padding);
      background-color: var(--upper-level-bg);
      box-shadow: var(--extruded-shadow);

      .sidebar-item {
        &.active {
          background-color: var(--body-bg);
          margin-left: var(--margin);
          margin-right: var(--margin);
          border-radius: var(--border-radius);
          box-shadow: var(--intruded-shadow);

          .sidebar-item-text {
            font-weight: bold;
          }

          .button {
            background-color: var(--upper-level-bg);
          }
        }

        &:not(.active) {
          background-color: transparent;
        }
      }
    }
  }

  .card-list-container {
    & > .buttons-group {
      gap: calc(var(--gap) * 1.5);

      .button {
        background-color: var(--upper-level-bg);
      }
    }

    .card-list {
      gap: calc(var(--gap) * 1.5);

      .card {
        .card-header {
          padding-bottom: calc(var(--padding) * 0.25);

          .item-property-value {
            font-weight: bold;
          }
        }

        .card-body {
          padding-top: calc(var(--padding) * 0.25);
          row-gap: calc(var(--gap) * 0.75);
        }

        &.active {
          box-shadow: var(--intruded-shadow);

          .button {
            background-color: var(--body-bg);
          }
        }

        &:not(.active) {
          background-color: var(--upper-level-bg);
          box-shadow: var(--extruded-shadow);
        }
      }
    }
  }
}
