[data-theme="neumorphism"] {
  --body-bg-hue: 220;
  --body-bg-saturation: 29%;
  --body-bg-lightness: 92%;
  --body-color-hue: 208;
  --body-color-saturation: 7%;
  --body-color-lightness: 46%;
  --level-lightness-offset: 3%;
  --accent-bg-hue: 239;
  --accent-bg-saturation: 75%;
  --accent-bg-lightness: 70%;
  --accent-bg-opacity: 1;

  --padding: 1.5rem;
  --margin: 1.5rem;
  --border-radius: 1.125rem;

  --shadow-size: 0.25rem;
  --shadow-blur: 0.25rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.2;
  --light-opacity: 0.75;

  --active-bg: hsl(
    var(--body-bg-hue),
    var(--body-bg-saturation),
    calc(var(--body-bg-lightness) - var(--level-lightness-offset))
  );

  --upper-level-bg: hsl(
    var(--body-bg-hue),
    var(--body-bg-saturation),
    calc(var(--body-bg-lightness) + var(--level-lightness-offset))
  );

  --lower-level-bg: hsl(
    var(--body-bg-hue),
    var(--body-bg-saturation),
    calc(var(--body-bg-lightness) - var(--level-lightness-offset))
  );

  --muted-color: hsl(
    var(--body-color-hue),
    var(--body-color-saturation),
    calc(var(--body-color-lightness) + var(--level-lightness-offset) * 5)
  );

  --outer-shadow: var(--shadow-size) var(--shadow-size) var(--shadow-blur)
    var(--shadow-spread) hsla(0, 0%, 0%, var(--shadow-opacity));
  --inner-shadow: inset var(--shadow-size) var(--shadow-size) var(--shadow-blur)
    var(--shadow-spread) hsla(0, 0%, 0%, var(--shadow-opacity));
  --outer-light: calc(-1 * var(--shadow-size)) calc(-1 * var(--shadow-size))
    var(--shadow-blur) var(--shadow-spread)
    hsla(0, 0%, 100%, var(--light-opacity));
  --inner-light: inset calc(-1 * var(--shadow-size))
    calc(-1 * var(--shadow-size)) var(--shadow-blur) var(--shadow-spread)
    hsla(0, 0%, 100%, var(--light-opacity));
  --extruded-shadow: var(--outer-light), var(--outer-shadow);
  --intruded-shadow: var(--inner-shadow), var(--inner-light);

  .button {
    box-shadow: var(--extruded-shadow);
  }

  .header {
    .buttons-group {
      gap: calc(var(--gap) * 1.5);
    }

    .button {
      background-color: var(--upper-level-bg);
      color: var(--body-color);
    }
  }

  .sidebar-container {
    & > .buttons-group {
      gap: calc(var(--gap) * 1.5);

      .button {
        background-color: var(--upper-level-bg);
      }
    }

    .sidebar {
      gap: 0;
      padding-top: var(--padding);
      padding-bottom: var(--padding);
      background-color: var(--upper-level-bg);
      box-shadow: var(--extruded-shadow);

      .sidebar-item {
        &.active {
          background-color: var(--body-bg);
          margin-left: var(--margin);
          margin-right: var(--margin);
          border-radius: var(--border-radius);
          box-shadow: var(--intruded-shadow);

          .sidebar-item-text {
            font-weight: bold;
          }

          .button {
            background-color: var(--upper-level-bg);
          }
        }

        &:not(.active) {
          background-color: transparent;
        }
      }
    }
  }

  .card-list-container {
    & > .buttons-group {
      gap: calc(var(--gap) * 1.5);

      .button {
        background-color: var(--upper-level-bg);
      }
    }

    .card-list {
      gap: calc(var(--gap) * 1.5);

      .card {
        .card-header {
          padding-bottom: calc(var(--padding) * 0.25);

          .item-property-value {
            font-weight: bold;
          }
        }

        .card-body {
          padding-top: calc(var(--padding) * 0.25);
          row-gap: calc(var(--gap) * 0.75);
        }

        &.active {
          box-shadow: var(--intruded-shadow);

          .button {
            background-color: var(--body-bg);
          }
        }

        &:not(.active) {
          background-color: var(--upper-level-bg);
          box-shadow: var(--extruded-shadow);
        }
      }
    }
  }
}
