[data-theme="retrofuturism"] {
  --bg-hue: 265;
  --bg-saturation: 80%;
  --bg-lightness: 35%;
  --color-hue: 0;
  --color-saturation: 0%;
  --color-lightness: 100%;
  --accent-bg-hue: 0;
  --accent-bg-saturation: 0%;
  --accent-bg-lightness: 0%;
  --accent-bg-opacity: 0.5;
  /*--danger-color-hue: 265;
  --danger-color-saturation: 59%;
  --danger-color-lightness: 75%;
  --danger-color-opacity: 0.5;*/
  --muted-color-hue: 0;
  --muted-color-saturation: 0%;
  --muted-color-lightness: 75%;
  --muted-color-opacity: 1;
  --button-background-color-hue: 247;
  --button-background-color-saturation: 98%;
  --button-background-color-lightness: 75%;
  --button-background-color-opacity: 1;
  --active-sidebar-item-bg-hue: 187;
  --active-sidebar-item-bg-saturation: 100%;
  --active-sidebar-item-bg-lightness: 95%;
  --active-sidebar-item-bg-opacity: 1;
  --active-sidebar-item-color-hue: 208;
  --active-sidebar-item-color-saturation: 7%;
  --active-sidebar-item-color-lightness: 46%;
  --active-sidebar-item-color-opacity: 1;
  --active-card-button-bg-hue: 187;
  --active-card-button-bg-saturation: 98%;
  --active-card-button-bg-lightness: 75%;
  --active-card-button-bg-opacity: 1;
  --active-card-button-color-hue: 0;
  --active-card-button-color-saturation: 0%;
  --active-card-button-color-lightness: 0%;
  --active-card-button-color-opacity: 1;

  --neon-base-color-hue: 275;
  --neon-base-color-saturation: 100%;
  --neon-base-color-lightness: 95%;
  --neon-base-color-opacity: 1;

  --neon-contour-width: 0.0625rem;
  --neon-contour-color-lightness-offset: 20%;
  --neon-active-color-hue-offset: 90;
  --neon-accent-color-hue-offset: 40;
  --neon-shadow-color-lightness-offset: 35%;

  --neon-base-color: hsla(
    var(--neon-base-color-hue),
    var(--neon-base-color-saturation),
    var(--neon-base-color-lightness),
    var(--neon-base-color-opacity)
  );
  --neon-base-contour-color: hsla(
    var(--neon-base-color-hue),
    var(--neon-base-color-saturation),
    calc(
      var(--neon-base-color-lightness) - var(
          --neon-contour-color-lightness-offset
        )
    ),
    var(--neon-base-color-opacity)
  );
  --neon-base-shadow-color-hsl: var(--neon-base-color-hue),
    var(--neon-base-color-saturation),
    calc(
      var(--neon-base-color-lightness) - var(
          --neon-shadow-color-lightness-offset
        )
    );

  --neon-active-color: hsla(
    calc(var(--neon-base-color-hue) - var(--neon-active-color-hue-offset)),
    var(--neon-base-color-saturation),
    var(--neon-base-color-lightness),
    var(--neon-base-color-opacity)
  );
  --neon-active-contour-color: hsla(
    calc(var(--neon-base-color-hue) - var(--neon-active-color-hue-offset)),
    var(--neon-base-color-saturation),
    calc(
      var(--neon-base-color-lightness) - var(
          --neon-contour-color-lightness-offset
        )
    ),
    var(--neon-base-color-opacity)
  );
  --neon-active-shadow-color-hsl: calc(
      var(--neon-base-color-hue) - var(--neon-active-color-hue-offset)
    ),
    var(--neon-base-color-saturation),
    calc(
      var(--neon-base-color-lightness) - var(
          --neon-shadow-color-lightness-offset
        )
    );

  --neon-accent-color: hsla(
    calc(var(--neon-base-color-hue) + var(--neon-accent-color-hue-offset)),
    var(--neon-base-color-saturation),
    var(--neon-base-color-lightness),
    var(--neon-base-color-opacity)
  );
  --neon-accent-contour-color: hsla(
    calc(var(--neon-base-color-hue) + var(--neon-accent-color-hue-offset)),
    var(--neon-base-color-saturation),
    calc(
      var(--neon-base-color-lightness) - var(
          --neon-contour-color-lightness-offset
        )
    ),
    var(--neon-base-color-opacity)
  );
  --neon-accent-shadow-color-hsl: calc(
      var(--neon-base-color-hue) + var(--neon-accent-color-hue-offset)
    ),
    var(--neon-base-color-saturation),
    calc(
      var(--neon-base-color-lightness) - var(
          --neon-shadow-color-lightness-offset
        )
    );

  --neon-base-outer-shadow: 0 0 0.5rem 0.125rem
      hsla(var(--neon-base-shadow-color-hsl), 1),
    0 0 1rem 0.25rem hsla(var(--neon-base-shadow-color-hsl), 0.5),
    0 0 2rem 0 hsla(var(--neon-base-shadow-color-hsl), 1);
  --neon-base-inner-shadow: inset 0 0 0.5rem 0.125rem
      hsla(var(--neon-base-shadow-color-hsl), 1),
    inset 0 0 1rem 0.25rem hsla(var(--neon-base-shadow-color-hsl), 0.5),
    inset 0 0 2rem 0 hsla(var(--neon-base-shadow-color-hsl), 1);

  --neon-active-outer-shadow: 0 0 0.5rem 0.125rem
      hsla(var(--neon-active-shadow-color-hsl), 1),
    0 0 1rem 0.25rem hsla(var(--neon-active-shadow-color-hsl), 0.5),
    0 0 2rem 0 hsla(var(--neon-active-shadow-color-hsl), 1);
  --neon-active-inner-shadow: inset 0 0 0.5rem 0.125rem
      hsla(var(--neon-active-shadow-color-hsl), 1),
    inset 0 0 1rem 0.25rem hsla(var(--neon-active-shadow-color-hsl), 0.5),
    inset 0 0 2rem 0 hsla(var(--neon-active-shadow-color-hsl), 1);

  --neon-accent-outer-shadow: 0 0 0.5rem 0.125rem
      hsla(var(--neon-accent-shadow-color-hsl), 1),
    0 0 1rem 0.25rem hsla(var(--neon-accent-shadow-color-hsl), 0.5),
    0 0 2rem 0 hsla(var(--neon-accent-shadow-color-hsl), 1);
  --neon-accent-inner-shadow: inset 0 0 0.5rem 0.125rem
      hsla(var(--neon-accent-shadow-color-hsl), 1),
    inset 0 0 1rem 0.25rem hsla(var(--neon-accent-shadow-color-hsl), 0.5),
    inset 0 0 2rem 0 hsla(var(--neon-accent-shadow-color-hsl), 1);

  --padding: 1.5rem;
  --margin: 1.5rem;
  --border-radius: 0.25rem;
  --neon-width: 0.25rem;

  --bg-gradient-hue-offset: 40;
  --bg-gradient-start-color: hsl(
    calc(var(--bg-hue) - var(--bg-gradient-hue-offset)),
    var(--bg-saturation),
    var(--bg-lightness)
  );
  --bg-gradient-end-color: hsl(
    calc(var(--bg-hue) + var(--bg-gradient-hue-offset)),
    var(--bg-saturation),
    var(--bg-lightness)
  );
  --background-gradient: linear-gradient(
    to right,
    var(--bg-gradient-start-color),
    var(--bg),
    var(--bg-gradient-end-color)
  );
  /*--background-image-url: url("assets/images/backgrounds/retrofuturism-back.jpg");*/

  /* --danger-color: hsla(
    var(--danger-color-hue),
    var(--danger-color-saturation),
    var(--danger-color-lightness),
    var(--danger-color-opacity)
  ); */

  --muted-color: hsla(
    var(--muted-color-hue),
    var(--muted-color-saturation),
    var(--muted-color-lightness),
    var(--muted-color-opacity)
  );

  --button-background-color: hsla(
    var(--button-background-color-hue),
    var(--button-background-color-saturation),
    var(--button-background-color-lightness),
    var(--button-background-color-opacity)
  );

  --header-button-bg: hsl(318, 92%, 95%);

  --active-sidebar-item-bg: hsla(
    var(--active-sidebar-item-bg-hue),
    var(--active-sidebar-item-bg-saturation),
    var(--active-sidebar-item-bg-lightness),
    var(--active-sidebar-item-bg-opacity)
  );

  --active-sidebar-item-color: hsla(
    var(--active-sidebar-item-color-hue),
    var(--active-sidebar-item-color-saturation),
    var(--active-sidebar-item-color-lightness),
    var(--active-sidebar-item-color-opacity)
  );

  --active-card-button-bg: hsla(
    var(--active-card-button-bg-hue),
    var(--active-card-button-bg-saturation),
    var(--active-card-button-bg-lightness),
    var(--active-card-button-bg-opacity)
  );

  --active-card-button-color: hsla(
    var(--active-card-button-color-hue),
    var(--active-card-button-color-saturation),
    var(--active-card-button-color-lightness),
    var(--active-card-button-color-opacity)
  );

  .button {
    // box-shadow: var(--extruded-shadow);
  }

  .header {
    padding-left: var(--padding);
    padding-right: var(--padding);
    padding-bottom: calc(var(--padding) + var(--neon-width));
    color: var(--active-sidebar-item-bg);
    position: relative;

    .buttons-group {
      gap: calc(var(--gap) * 1.5);
    }

    .button {
      background-color: var(--header-button-bg);
      color: var(--active-card-button-color);
      box-shadow:
        inset 0 0 0 var(--neon-contour-width) var(--neon-accent-contour-color),
        var(--neon-accent-outer-shadow);
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: var(--padding);
      right: var(--padding);
      height: var(--neon-width);
      border-radius: calc(var(--neon-width) / 2);
      background-color: var(--neon-accent-color);
      box-shadow:
        inset 0 0 0 var(--neon-contour-width) var(--neon-accent-contour-color),
        var(--neon-accent-outer-shadow);
    }
  }

  .main {
    padding-left: 0;
    padding-right: 0;
  }

  .sidebar-container {
    position: relative;
    padding-right: calc(var(--margin) + var(--neon-width));

    & > .buttons-group {
      gap: calc(var(--gap) * 1.5);

      .button {
        background-color: transparent;
        border: var(--neon-contour-width) solid var(--color);
      }
    }

    .sidebar {
      gap: 0;

      .sidebar-item-text {
        font-weight: bold;
      }

      .sidebar-item {
        padding: calc(var(--padding) * 1 / 3) calc(var(--padding) * 1 / 3)
          calc(var(--padding) * 1 / 3) calc(var(--padding) * 2 / 3);
        border-radius: calc(var(--border-radius) * 1.5);
        min-height: calc(
          var(--font-size) * var(--line-height) + var(--button-padding-y) * 2 +
            var(--padding) * 1 / 3 * 2
        );

        .buttons-group {
          gap: calc(var(--gap) * 0.5);
        }

        &.active {
          background-color: var(--active-sidebar-item-bg);
          color: var(--active-sidebar-item-color);
          box-shadow:
            inset 0 0 0 var(--neon-contour-width)
              var(--neon-active-contour-color),
            var(--neon-active-outer-shadow);

          .button {
            background-color: var(--button-background-color);
            color: var(--color);
          }
        }

        &:not(.active) {
          background-color: transparent;
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: var(--padding);
      bottom: var(--padding);
      width: var(--neon-width);
      border-radius: calc(var(--neon-width) / 2);
      background-color: var(--neon-active-color);
      box-shadow:
        inset 0 0 0 var(--neon-contour-width) var(--neon-active-contour-color),
        var(--neon-active-outer-shadow);
    }
  }

  .card-list-container {
    & > .buttons-group {
      gap: calc(var(--gap) * 1.5);

      .button {
        background-color: transparent;
        border: var(--neon-contour-width) solid var(--color);
      }
    }

    .card-list {
      gap: calc(var(--gap) * 1.5);

      .card {
        width: calc(50% - var(--gap) * 1.5 / 2);
        border: calc(var(--neon-width) - var(--neon-contour-width) * 2) solid
          var(--neon-base-color);
        border-radius: calc(var(--border-radius) * 1.5 + var(--neon-width));
        box-shadow:
          inset 0 0 0 var(--neon-contour-width) var(--neon-base-contour-color),
          0 0 0 var(--neon-contour-width) var(--neon-base-contour-color),
          var(--neon-base-outer-shadow),
          var(--neon-base-inner-shadow);

        .card-header {
          position: relative;
          padding: calc(var(--padding) + var(--neon-width));
          padding-bottom: calc(var(--padding) * 2 / 3 + var(--neon-width));

          .item-property-value {
            font-weight: bold;
          }

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: var(--padding);
            right: var(--padding);
            height: var(--neon-width);
            border-radius: calc(var(--neon-width) / 2);
            background-color: var(--neon-base-color);
            box-shadow:
              inset 0 0 0 var(--neon-contour-width)
                var(--neon-base-contour-color),
              var(--neon-base-outer-shadow);
          }
        }

        .card-body {
          padding: calc(var(--padding) + var(--neon-width));
          padding-top: var(--padding);
        }

        &.active {
          background-color: var(--accent-bg);
          border: calc(var(--neon-width) - var(--neon-contour-width) * 2) solid
            var(--neon-active-color);
          box-shadow:
            inset 0 0 0 var(--neon-contour-width)
              var(--neon-active-contour-color),
            0 0 0 var(--neon-contour-width) var(--neon-active-contour-color),
            var(--neon-active-outer-shadow),
            var(--neon-active-inner-shadow);

          .card-header {
            .button {
              background-color: var(--active-card-button-bg);
              color: var(--active-card-button-color);
            }

            &::after {
              content: "";
              background-color: var(--neon-active-color);
              box-shadow:
                inset 0 0 0 var(--neon-contour-width)
                  var(--neon-active-contour-color),
                var(--neon-active-outer-shadow);
            }
          }

          .card-body {
            .item-property-value {
              font-weight: bold;
            }
          }
        }

        &:not(.active) {
          background-color: var(--accent-bg);
        }
      }
    }
  }
}
