[data-theme="retrofuturism"] {
  --body-bg-hue: 266;
  --body-bg-saturation: 74%;
  --body-bg-lightness: 26%;
  --body-color-hue: 0;
  --body-color-saturation: 0%;
  --body-color-lightness: 100%;
  --accent-bg-hue: 0;
  --accent-bg-saturation: 0%;
  --accent-bg-lightness: 0%;
  --accent-bg-opacity: 0.5;
  /*--danger-color-hue: 265;
  --danger-color-saturation: 59%;
  --danger-color-lightness: 75%;
  --danger-color-opacity: 0.5;*/
  --muted-color-hue: 0;
  --muted-color-saturation: 0%;
  --muted-color-lightness: 75%;
  --muted-color-opacity: 1;
  --button-bg-hue: 247;
  --button-bg-saturation: 98%;
  --button-bg-lightness: 75%;
  --button-bg-opacity: 1;
  --active-sidebar-item-bg-hue: 187;
  --active-sidebar-item-bg-saturation: 100%;
  --active-sidebar-item-bg-lightness: 95%;
  --active-sidebar-item-bg-opacity: 1;
  --active-sidebar-item-color-hue: 208;
  --active-sidebar-item-color-saturation: 7%;
  --active-sidebar-item-color-lightness: 46%;
  --active-sidebar-item-color-opacity: 1;
  --active-card-button-bg-hue: 187;
  --active-card-button-bg-saturation: 98%;
  --active-card-button-bg-lightness: 75%;
  --active-card-button-bg-opacity: 1;
  --active-card-button-color-hue: 0;
  --active-card-button-color-saturation: 0%;
  --active-card-button-color-lightness: 0%;
  --active-card-button-color-opacity: 1;

  --padding: 1.5rem;
  --margin: 1.5rem;
  --border-radius: 0.25rem;

  /* --danger-color: hsla(
    var(--danger-color-hue),
    var(--danger-color-saturation),
    var(--danger-color-lightness),
    var(--danger-color-opacity)
  ); */

  --muted-color: hsla(
    var(--muted-color-hue),
    var(--muted-color-saturation),
    var(--muted-color-lightness),
    var(--muted-color-opacity)
  );

  --button-bg: hsla(
    var(--button-bg-hue),
    var(--button-bg-saturation),
    var(--button-bg-lightness),
    var(--button-bg-opacity)
  );

  --header-button-bg: hsl(318, 92%, 95%);

  --active-sidebar-item-bg: hsla(
    var(--active-sidebar-item-bg-hue),
    var(--active-sidebar-item-bg-saturation),
    var(--active-sidebar-item-bg-lightness),
    var(--active-sidebar-item-bg-opacity)
  );

  --active-sidebar-item-color: hsla(
    var(--active-sidebar-item-color-hue),
    var(--active-sidebar-item-color-saturation),
    var(--active-sidebar-item-color-lightness),
    var(--active-sidebar-item-color-opacity)
  );

  --active-card-button-bg: hsla(
    var(--active-card-button-bg-hue),
    var(--active-card-button-bg-saturation),
    var(--active-card-button-bg-lightness),
    var(--active-card-button-bg-opacity)
  );

  --active-card-button-color: hsla(
    var(--active-card-button-color-hue),
    var(--active-card-button-color-saturation),
    var(--active-card-button-color-lightness),
    var(--active-card-button-color-opacity)
  );

  .button {
    // box-shadow: var(--extruded-shadow);
  }

  .header {
    padding-left: var(--padding);
    padding-right: var(--padding);
    color: var(--active-sidebar-item-bg);

    .buttons-group {
      gap: calc(var(--gap) * 1.5);
    }

    .button {
      background-color: var(--header-button-bg);
      color: var(--active-card-button-color);
    }
  }

  .main {
    padding-left: 0;
    padding-right: 0;
  }

  .sidebar-container {
    & > .buttons-group {
      gap: calc(var(--gap) * 1.5);

      .button {
        background-color: transparent;
      }
    }

    .sidebar {
      gap: 0;

      .sidebar-item-text {
        font-weight: bold;
      }

      .sidebar-item {
        padding: calc(var(--padding) * 1 / 3) calc(var(--padding) * 1 / 3)
          calc(var(--padding) * 1 / 3) calc(var(--padding) * 2 / 3);

        .buttons-group {
          gap: calc(var(--gap) * 0.5);
        }

        &.active {
          background-color: var(--active-sidebar-item-bg);
          color: var(--active-sidebar-item-color);
          border-radius: calc(var(--border-radius) * 1.5);
          // box-shadow: var(--intruded-shadow);

          .button {
            background-color: var(--button-bg);
            color: var(--body-color);
          }
        }

        &:not(.active) {
          background-color: transparent;
        }
      }
    }
  }

  .card-list-container {
    & > .buttons-group {
      gap: calc(var(--gap) * 1.5);

      .button {
        background-color: transparent;
      }
    }

    .card-list {
      gap: calc(var(--gap) * 1.5);

      .card {
        border-radius: calc(var(--border-radius) * 1.5);

        .card-header {
          padding-bottom: calc(var(--padding) * 2 / 3);

          .item-property-value {
            font-weight: bold;
          }
        }

        .card-body {
          padding-top: calc(var(--padding) * 0.5);
        }

        &.active {
          background-color: var(--accent-bg);

          .card-header {
            .button {
              background-color: var(--active-card-button-bg);
              color: var(--active-card-button-color);
            }
          }

          .card-body {
            .item-property-value {
              font-weight: bold;
            }
          }
        }

        &:not(.active) {
          background-color: var(--accent-bg);
        }
      }
    }
  }
}
